/* ./src/index.css */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-red: var(--color-red-900);
  --color-ivory: var(--color-stone-50);

  --color-teal: #89cebe;
  --color-gold: #e4ae4a;
  --color-blue: #3194ff;
  --color-pink: #ff7ba9;

  /* transparent, black and white are predefined in Tailwind */

  --color-background: light-dark(#fafaf9, #171717);
  --color-foreground: light-dark(var(--color-neutral-900), var(--color-white));
  --color-muted: light-dark(var(--color-stone-50), var(--color-neutral-800));
  --color-muted-foreground: light-dark(var(--color-neutral-500), var(--color-neutral-300));
  --color-border: light-dark(var(--color-neutral-500), var(--color-neutral-500));
  --color-ring: light-dark(var(--color-neutral-900), var(--color-white));

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'source-han-serif-sc', 'source-han-serif-japanese', '宋体', '新宋体', serif;
}

@utility horizontal-tb {
  writing-mode: horizontal-tb;
}

@utility vertical-rl {
  writing-mode: vertical-rl;
}

@utility vertical-lr {
  writing-mode: vertical-lr;
}

@utility bleed-left-to-container-right {
  margin-left: calc((100dvw - 100cqw) / -2);
}

@utility bleed-right-to-container-left {
  margin-right: calc((100dvw - 100cqw) / -2);
}

:root {
  color-scheme: only light;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  /* Keep layout width stable when vertical scrollbar appears/disappears */
  scrollbar-gutter: stable;
}

#app {
  font-family: 'source-han-serif-sc', 'source-han-serif-japanese', '宋体', '新宋体', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wf-loading #main {
  visibility: hidden;
}

#loading {
  visibility: hidden;
}

.wf-loading #loading {
  visibility: visible;
}
