/* ./src/index.css */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-red: var(--color-red-900);
  --color-ivory: var(--color-stone-50);
  --color-dark-gray: var(--color-neutral-900);
  --color-light-gray: var(--color-neutral-500);

  --color-teal: #89cebe;
  --color-gold: #e4ae4a;
  --color-blue: #3194ff;
  --color-pink: #ff7ba9;
  --color-transparent: #00000000;

  --color-paper: light-dark(#fafaf9, #171717);
  /* backward compatibility classes, use dark:bg-paper-dark*/
  --color-paper-dark: #171717;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'source-han-serif-sc', 'source-han-serif-japanese', '宋体', '新宋体', serif;
  --color-bg: #f6f9fb;
}

@utility horizontal-tb {
  writing-mode: horizontal-tb;
}

@utility vertical-rl {
  writing-mode: vertical-rl;
}

@utility vertical-lr {
  writing-mode: vertical-lr;
}

:root {
  color-scheme: only light;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

#app {
  font-family: 'source-han-serif-sc', 'source-han-serif-japanese', '宋体', '新宋体', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.wf-loading #main {
  visibility: hidden;
}

#loading {
  visibility: hidden;
}

.wf-loading #loading {
  visibility: visible;
}
